*{
    margin: 0;
    padding: 0;
}
div {
    height: 15px;
    width: 100%;
}
body {
    font-size: 1rem;
}
.menu nav{
    position: relative;
    font-family: monospace;
    float: left;
    width: 100%;
    background-color: rgb(124, 14, 14);
}

.menu ul{
    list-style: none;
    padding-left: 0;
}

.menu li {
    list-style-type: none;
    display: block;
    float: left;
    padding: 1rem;
    background-color:rgb(124, 14, 14);
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    margin-left: 5px;
    margin-right: 5px;
    width: 21%;
  
}  
.menu li a{
    text-align: center;
    color:rgb(0, 0, 0);
    text-decoration: none;
}
.menu li ul{
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    box-shadow: 0px 8px 16px 0px rgb(255, 255, 255);
}
.menu li ul{
    margin: 20;
    padding: 0;
    clear: both;
    width: 100%;
}
.menu li ul li {
    margin-left: 0;
    width: 92%;
}
.menu ul li:hover,
.menu ul li:focus-within{
    background-color:rgb(77, 11, 11) ;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
.menu a:hover{
    color:rgb(255, 255, 255) ; 
}
.menu li:hover>ul, 
.menu li:focus-within>ul, 
.menu ul li ul:hover,
.menu ul li ul:focus{
    visibility: visible;
    opacity: 1;
    display: block;

}
article {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
article a {
    border-radius: 5px;
    box-shadow: 0 1px 12px -2px rgba(255, 132, 132, 0.88);
    padding: 30px;
    margin: 6px;
    cursor: pointer;
    transition: .35s;
    text-decoration: none;
    color: rgb(239, 84, 84);
}

article a:hover {
    box-shadow: 0 1px 30px -2px rgba(228, 124, 124, 0.88);
}

.big-card div {
    width: 50%;
    font-size: 1.2rem;
    font-weight: bold;
}

@media screen and (max-width: 480px){
    body{
        font-size: 0.5rem;
        max-width: 480px;
    }
    article{
        flex-direction: column;
    }
    .menu{
        width: auto;
        height: auto;
        background-color: pink;
    }
    .menu nav{
        position: relative;
        font-family: monospace;
        float: left;
        width: 100%;
        background-color: rgb(169, 110, 110);
    }
    .menu li {
        background-color:rgb(211, 153, 153);
        width: 21%;
        float: none;
    }  
    .menu li a{
        text-align: left;
        color:rgb(0, 0, 0);
        text-decoration: none;
        display: block;
        outline: none;
    }
    .menu li ul{
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none;
        box-shadow: 0px 8px 16px 0px rgb(255, 255, 255);
    }
    .menu li ul{
        margin: 20;
        padding: 0;
        clear: both;
        width: 100%;
    }
    .menu li ul li {
        margin-left: 0;
        width: 92%;
    }
    .menu li a {
        color: red;
        text-align: left;
        display: block;
        outline: none;

    }
    .menu li:hover,
    .menu ul li:focus-within
    .menu li a:hover {
        background-color:rgb(255, 154, 154) ;
        cursor: pointer;
        font-weight: bold;
        transition: 0.3s;
        left: 10px;
        color: pink;
    }
    .drop {
        position: static;
        left: 0px;
        background-color: rgb(204, 60, 60);
        list-style: none;

    }
    .menu ul li:hover,
    .menu ul li:focus-within{
    background-color:rgb(255, 154, 154) ;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;   
    }
}
